<section>
  <h1 class="hero-title text-center pt-5">
    <span class="word1">Post</span>
  </h1>
  <mat-card class="my-5 mx-auto col-8">
    <form [formGroup]="postForm" (ngSubmit)="sendPost()" class="d-flex flex-column">
      <mat-form-field appearance="outline" class="my-3">
        <mat-label>Presentation Gif</mat-label>
        <input matInput placeholder="Presentation Gif" formControlName="gif">
      </mat-form-field>
      <mat-form-field appearance="outline" class="my-3">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title of the post" formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="outline" class="my-3">
        <mat-label>Content</mat-label>
        <textarea matInput placeholder="Content of the post" formControlName="content" matTextareaAutosize="true"></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" class="col-4 m-auto">
        Post!
      </button>
    </form>
  </mat-card>
</section>
